/* stylelint-disable */

$font-rosario :'Rosario', sans-serif;
@font-face {
  font-family: ivy;
  src: url("../fonts/ivymode.woff2");
}
@font-face {
  font-family: juniper;
  src: url("../fonts/juniper.woff2");
}

@mixin for-desktop-lg--down {
  @media (max-width: 1680px) { @content; }
}
@mixin for-desktop-down {
  @media (max-width: 1440px) { @content; }
}
@mixin for-ipad-down {
  @media(max-width: 1024px){@content;}
}
@mixin for-mobile-lg-down{
  @media(max-width: 768px){@content;}
}
@mixin for-mobile-down {
  @media (max-width: 375px) {@content;}
}

@import "reset";
@import "header";
@import "footer" ;
@import "hero";
@import "our-rituals";
@import "our-promise";
@import "ingredients";
@import "clinically-proven";

img {
  max-width: 100%;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #f3f2ef;
  font-family: "Martel Sans", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
.bold{
  font-weight: bold !important;
}
.btn-primary{
  display: inline-block;
  padding: 17px 47px;
  border: 2px solid #c65238;
  background-color: #fff;
  color: #000000;
  text-decoration: none;
  line-height: 1;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 14px;
  transition: 0.3s all ease;
  &:hover{
    background-color: #c65238;
    color: #fff;
  }
}
.btn-primary--orange{
  background-color: #c65238;
  color: white;
  &:hover{
    background-color: #fff;
    color: #000000;
  }
}
.section-heading-wrap{
  text-align: center;
}
.section-heading{
  font-size: 48px;
  line-height: 1.4;
  font-weight: lighter;
  font-family: ivy;
  letter-spacing: 1.5px;
}
.section-subheading{
  font-size: 16px;
  line-height: 1.4;
  font-weight: lighter;

}
.section-heading-common{
  .section-subheading{
    margin: 18px 0px 32px 0px;
  }
}
.link-decorated{
  text-decoration: none;
  letter-spacing: 2px;
  color: #2e261c;
  border-bottom: 2px solid #C65238;
  text-transform: uppercase;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 2px;
}
.products-showcase-wrap{
  max-width: 1090px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.product-showcase-card{
  width: 31%;
  &__content{
    padding-top: 12px;
  }
  &__ratings{
    display: flex;
    align-items: center;
    p{
      font-size: 12px;
      margin-left: 8px;
      line-height: 1.3;
    }
  }
  &__category{
    display: flex;
    align-items: center;
    margin: 8px 0px;
  }
  &__effect{
    padding-right: 6px ;
    border-right: 1px solid #000;
    font-size: 14px;
    font-weight: bold;
  }
  &__name{
    padding-left: 6px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.2;
  }
  &__details{
    font-size: 14px;
    line-height: 1.7;

  }
  .link-decorated{
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.4;
  }
  &__price{
    position: relative;
    padding-left: 26px;
    &::before{
      content: '';
      width: 12px;
      height: 1px;
      background: #000;
      position: absolute;
      left: 0px;
      top: 10px;
    }
  }
}
